$green: #116530
$dark-blue: #09162a
$orange: #ecb365
.post-text
    font-size: 18px
    color: #868484
.s1
    font-size: 18px
.s2
    font-size: 15px
    color: #868484
.title-comments
    font-size: 25px
.icon-comm
    width: 50px
    border-radius: 100%
.comment-mine
    display: flex
    flex-direction: column
    margin-left: 20px
.comment
    display: flex
    margin-bottom: 20px
    flex-direction: column
.wrapp-p
    display: flex
.answer-comment
    margin-bottom: 20px
.com1
    margin-bottom: 15px
    font-size: 17px
    color: #868484
.light
    color: #ccc
.reply 
    width: 74px
    border: none
    border-radius: 10px
.comment-list
    padding: 8px
.block-gray
    background-color: #f0f0f0c7
    margin-top: 40px
    padding-bottom: 20px
.cont-block
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 40px
.sidebar
    padding: 20px
.title-block-comm
    font-size: 20px
.green-t
    color: $green
.profil-autor, .parag
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 20px
    margin-bottom: 30px
    span
        font-size: 18px
    p
        font-size: 15px
        color: #868484
        margin: 12px 0
    button
        padding: 9px
        font-size: 15px
        a
            padding: 8px
.autor
    width: 120px
    border-radius: 50%
    margin-bottom: 15px
