$green: #116530
$dark-blue: #09162a
$orange: #ecb365
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap')
body
    margin: 0
    font-family: 'Manrope', sans-serif
button
    font-family: 'Manrope', sans-serif
.menu-pc
    display: none
.header-section
    width: 100%
.wrapper
    margin: 0 auto
    padding: 8px

.head
    display: flex
    justify-content: space-between
    position: relative
.wrap-menu__menu
    padding-top: 20px
    background-color: #fff
.menu__item
    list-style-type: none
    font-size: 19px
    color: black
    margin-bottom: 17px
    a
        text-decoration: none
        color: black
#menu__toggle
    opacity: 0

#menu__toggle:checked + .menu__btn > span
    transform: rotate(45deg)

#menu__toggle:checked + .menu__btn > span::before
    top: 0
    transform: rotate(0deg)

#menu__toggle:checked + .menu__btn > span::after
    top: 0
    transform: rotate(90deg)

#menu__toggle:checked ~ .menu__box
    left: 41%

.menu__btn
    position: fixed
    top: 20px
    left: 335px
    width: 26px
    height: 26px
    cursor: pointer
    z-index: 21

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after
    display: block
    position: absolute
    width: 100%
    height: 2px
    background-color: #616161
    transition-duration: .25s

.menu__btn > span::before
    content: ''
    top: -8px

.menu__btn > span::after
    content: ''
    top: 8px

.menu__box
    display: block
    position: fixed
    top: 0
    left: 102%
    width: 300px
    height: 100%
    margin: 0
    padding: 80px 0
    list-style: none
    background-color: #ECEFF1
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
    transition-duration: .25s
    z-index: 20

.menu__item
    display: block
    padding: 12px 24px
    color: #333
    font-family: 'Roboto', sans-serif
    font-size: 20px
    font-weight: 600
    text-decoration: none
    transition-duration: .25s

.menu__item:hover
    background-color: #CFD8DC
.itc-slider__item
    flex: 0 0 100%
    max-width: 100%
    display: flex
    justify-content: center
    align-items: center

.blackout
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        display: block
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.3)
.itc-slider__wrapper
    overflow: hidden
.person
    width: 100%
.itc-slider__indicators
    position: absolute
    right: 0
    bottom: 0
    left: 0
    z-index: 15
    display: flex
    justify-content: center
    margin: 0 15%
    padding-left: 0
    list-style: none

.text-on-slider
    position: absolute
    font-size: 35px
    color: white
    text-align: center
h1, h3, h5
    text-align: center
h3
    color: $green
    font-size: 30px
h1
    font-size: 28px
.card-box
    display: flex
    border: 1px solid #ccc
    padding: 12px
    margin-bottom: 20px
.card-section
    margin-bottom: 40px
.card-name
    font-size: 25px
.image-card
    width: 55px
    margin-bottom: 10px
.card-text
    font-size: 18px
    color: #918d8d
.box-right
    font-size: 18px
    color: #ccc
.first-section
    padding-bottom: 30px

    //2 section

.second-section
    background-color: $green
    padding-bottom: 50px
.man-1
    width: 100%
    transform: translateY(-42px)
.veg-icon
    width: 50px
    font-size: 53px
    color: #fff
.product-card
    display: flex
    margin-bottom: 15px
.naming
    font-size: 22px
    color: #fff
.par
    font-size: 18px
    margin: 2px 0
    color: #ccc
.images-card
    margin-right: 10px
h4
    font-size: 20px
    color: #ccc
h2
    font-size: 30px
    color: #fff
.lorem
    font-size: 18px
    color: #ccc
    margin-bottom: 30px
    //3 section
.third-section
    padding-bottom: 40px
.hero-2
    width: 100%
    transition: opacity 124ms linear, transform 124ms linear
    &:hover
        transform: scale(1.05)
.fa-circle-play
    font-size: 70px
    color: #0000008a
    position: absolute
    right: 150px
    bottom: 162px
    z-index: 5
.video
    position: relative
li
    list-style-type: none
.check-text
    margin-bottom: 15px
    font-size: 20px
    color: #7a7a7a
.check-wrap
    padding: 8px
.fa-check
    margin-right: 12px
    font-size: 17px
    color: $green
h5
    font-size: 30px
    color: $green
.plants-about
    font-size: 19px
    color: #7a7a7a
.get-in-touch
    font-size: 18px
    color: #fff
    background-color: $green
    padding: 15px
    border: none
    border-radius: 5px
a
    text-decoration: none
    color: #000000

//4 section
.four-section
    background-color: $dark-blue
.first-title-b4
    color: #ccc
    font-size: 25px
    margin-bottom: 10px
.second-title-b4
    color: #fff
    font-size: 30px
.title-blok4
    display: flex
    flex-direction: column
    padding-top: 20px
.bottom
    bottom: -45px
.we-do, .what-text
    position: absolute
    font-size: 30px
.project-content
    &::before
        content: ""
        position: absolute
        top: 248px
        left: 0
        display: block
        width: 190px
        height: 73px
        background-color: rgba(0, 0, 0, 0.537)

.we-do
    color: #25ff04
    bottom: 73px
    left: 5px
    font-size: 24px
    text-transform: uppercase
.what-text
    color: #fff
    bottom: 41px
    left: 5px
    font-size: 30px

///5 section
.fist-section
    padding-top: 90px
.testimonial
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 50px
.title-test
    font-size: 25px
    color: $green
.title-test2
    font-size: 30px
.client-profil
    margin-bottom: 50px

.client-img
    width: 100px
    border-radius: 100%
.client-text
    font-size: 20px
    font-weight: 600
.client-name
    font-size: 23px
    color: $green

///6 section

.six-section
    background-color: #f8f9fa
    padding-top: 40px
.blog-tit-wr
    display: flex
    flex-direction: column
    margin-bottom: 40px
.blog-title
    font-size: 30px
    color: $green
    margin-bottom: 15px
.text-blog
    font-size: 35px
.post
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 550px
    margin-bottom: 20px
.img-b
    width: 357px
.blog-name
    font-size: 27px
.posted
    color: #aeacac
.green
    color: $green

///7 section

.seven-section
    background-color: $green
    padding: 30px 0
.sub-block
    span
        font-size: 25px
        color: #fff
    p
        font-size: 18px
        color: #ccc
.e-mail
    font-size: 17px
    padding: 10px
.sub-btn
    font-size: 14px
    padding: 10px 7px
    border: none
    background-color: $orange
    color: #fff
.sub-e
    display: flex
/// footer
.footer
    padding-top: 40px
    background-color: #000000
.foot-h
    p
        font-size: 16px
        color: #fff
.name-info
    font-size: 18px
    color: #fff
    border-bottom: 1px solid $orange
.info
    color: #fff
    margin-bottom: 10px
    font-size: 16px
.foot-info
    ul
        padding: 0px 8px
.block-9
    margin-top: 40px
    color: #ccc
.autor-section2, .section-catigories2
    display: none
@import about
@import blog-post
@import PC